{% extends 'parent.html.twig' %}
{% block body %}

{{dump(articles)}}
{% set i=0 %}
{% for article in articles %}

<div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
	<div class="row align-items-center">
		<a href="#">
			<div class="col-12 col-md-6">
				<div class="single-blog-thumbnail">
					{% set image = (i % 5)+1 %}
					{% set i=i+1 %}
					<img src="{{asset('img/blog-img/'~ image ~'.jpg')}}" alt="">
					<div class="post-date">
						<a href="#">{{ article.article.createAt |date("d") }}<span>{{ article.article.createAt |date("F") }}</span></a>
					</div>
				</div>
			</div>
		</a>
		<a href="#">
			<div class="col-12 col-md-6">
				<!-- Blog Content -->
				<div class="single-blog-content">
					<div class="line"></div>
					<a href="#" class="post-tag">Lifestyle</a>
					<h4><a href="{{ path('new.view', { 'id' : article.article.id})}}" class="post-headline">{{article.article.titre}}</a></h4>
					<p>{{article.article.content | slice(3,178)}}...</p>
					<div class="post-meta">
						<p>By <a href="#">{{article.article.author.username}}</a></p>
						<p>{{article.nbComment}} comments</p>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
{% if app.user == article.article.author %}
<div class="link"><a href="{{ path('new.delete', { 'id' : article.article.id})}}">supprimer</a></div>
<div class="link"><a href="{{ path('new.edit', { 'id' : article.article.id})}}">modifier</a></div>
{% endif %}
{% endfor %}
{% endblock %}