{% extends 'parent.html.twig' %}

{% block body %}
 <div class="single-blog-wrapper section-padding-0-100">

        <!-- Single Blog Area  -->
        <div class="single-blog-area blog-style-2 mb-50">
            <div class="single-blog-thumbnail">
                <img src="{{asset('uploads/images/' ~ article.picture)}}" alt="">
                <div class="post-tag-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="post-date">
                                    <a href="#">{{ article.createAt |date("d") }}<span>{{ article.createAt |date("F") }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- ##### Post Content Area ##### -->
                <div class="col-12 col-lg-12">
                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a href="#" class="post-tag">Lifestyle</a>
                            <h4 style="display: inline-block;"><a href="#" class="post-headline mb-0">{{article.titre}}</a></h4>
                                {% if app.user == article.author or is_granted('ROLE_ADMIN') %}
                                        <div class="dropdown" style=" display: inline-block; float: right;">
  <button class="btn btn-primary-outline" style="background:none;"type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ path('new.delete', { 'id' : article.id})}}">Supprimer</a>
    <a class="dropdown-item" href="{{ path('new.edit', { 'id' : article.id})}}">Modifier</a>
  </div>
</div>
{% endif %}
                            <div class="post-meta mb-50">
                                <p>By <a href="#">{{article.author.username}}</a></p>
                                <p>{{nbComment}} comments</p>
                            </div>
                            {{article.content | raw}}
                        </div>
                    </div>

                    <!-- About Author -->
                    <div class="blog-post-author mt-100 d-flex">
                        <div class="author-thumbnail">
                            <img src="{{asset('/uploads/images/' ~ article.author.picture) }}" alt="">
                        </div>
                        <div class="author-info">
                            <div class="line"></div>
                            <span class="author-role">Author</span>
                            <h4><a href="#" class="author-name">{{article.author.username}}</a></h4>
                            <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero.</p>
                        </div>
                    </div>

                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix mt-70" style="width: 80%">
                        <h5 class="title">Comments</h5>
							{% if commentaires == null %}Be the first to leave your review {% endif %}
                        <ol>
                            <!-- Single Comment Area -->
                            {% for commentaire in commentaires %}
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                        <img src="{{asset('/uploads/images/' ~ commentaire.author.picture) }}" alt="author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date" style="display: inline-block;">{{ commentaire.createAt |date("F jS \\a\\t g:ia") }}</a>
                                        {% if app.user == commentaire.author or is_granted('ROLE_ADMIN') %}
                                        <div class="dropdown" style=" display: inline-block; float: right;">
  <button class="btn btn-primary-outline" style="background:none;"type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ path('comment.delete', { 'id' : commentaire.id})}}">Supprimer</a>
    <a class="dropdown-item" href="{{ path('comment.edit', { 'id' : commentaire.id})}}">Modifier</a>
  </div>
</div>
{% endif %}
                                        <p><a href="#" class="post-author">{{commentaire.author.username}}</a></p>
                                        <p>{{commentaire.content}}</p>									
                                    </div>
                                </div>
                            </li>
							{% endfor %}
                        </ol>
                    </div>
						{% include 'comment/add.html.twig' %}
                </div>
{% endblock %}
