{% extends 'parent.html.twig' %}

{% block body %}
<div class="single-blog-wrapper section-padding-0-100">

    <!-- Single Blog Area  -->
    <div class="single-blog-area blog-style-2 mb-50">
        <div class="single-blog-thumbnail">
            <img src="{{asset('uploads/images/' ~ article.picture)}}" alt="">
            <div class="post-tag-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="post-date">
                                <a href="#">{{ article.createAt |date("d") }}<span>{{ article.createAt |date("F") }}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- ##### Post Content Area ##### -->
            <div class="col-12 col-lg-12">
                <!-- Single Blog Area  -->
                <div class="single-blog-area blog-style-2 mb-50">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                        <div class="line"></div>
                        <a href="#" class="post-tag">Lifestyle</a>
                        <h4 style="display: inline-block;"><a href="#" class="post-headline mb-0">{{article.title}}</a></h4>
                        {% if app.user == article.author or is_granted('ROLE_ADMIN') %}
                        <div class="dropdown" style=" display: inline-block; float: right;">
                          <button class="btn btn-primary-outline" style="background:none;"type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('new.delete', { 'id' : article.id})}}">Supprimer</a>
                            <a class="dropdown-item" href="{{ path('new.edit', { 'id' : article.id})}}">Modifier</a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="post-meta mb-50">
                        <p>By <a href="#">{{article.author.username}}</a></p>
                        <p>{{nbComment}} comments</p>
                    </div>
                    {{article.content | raw}}
                </div>
            </div>

            <!-- About Author -->
            <div class="blog-post-author mt-100 d-flex">
                <div class="author-thumbnail">
                    <img src="{{asset('/uploads/images/' ~ article.author.picture) }}" alt="">
                </div>
                <div class="author-info">
                    <div class="line"></div>
                    <span class="author-role">Author</span>
                    <h4><a href="#" class="author-name">{{article.author.username}}</a></h4>
                    <p>Curabitur venenatis efficitur lorem sed tempor. Integer aliquet tempor cursus. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero luctus, vel volutpat quam tincidunt. Nullam vestibulum convallis risus vel condimentum. Nullam auctor lorem in libero.</p>
                </div>
            </div>

            <!-- Comment Area Start -->
            <div id="_comments">
                {% include 'comment/area_comment.html.twig' %}
            </div>
            <div class="loading">chargement...</div>
            {% include 'comment/add.html.twig' %}
        </div>

        {% endblock %}
        {% block javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
        <script>
            $(document).ready(function($) {
                $(".loading").hide();
                $("#form_addComment").submit(function(e){
                    e.preventDefault();
                    $(".loading").show();
                    var content = $("#comment_content").val();
                    var idArticle = {{ app.request.get('id') }},
                    var DATA = {content: content, id_article: idArticle} ;
                    $.ajax({
                        type: "POST",
                        url: "{{ path('myapp_add_comment')}}",
                        data: DATA,
                        success:function(data){
                            console.log(data);
                            $('#_comments').html(data);
                            $("#comment_content").val('');
                            $(".loading").hide();
                        }
                    });
                    return false;
                });
            });
        </script>
        {% endblock %}